html{
  background-color: #1f1f1f;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.scoreboard {
  background-color: #87ceeb; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 25px;
  border-radius: 10px;
  margin: 10px;
}

.score-label{
  font-weight: bold;
  margin-right: 5px;
}

.score-value{
  font-weight: normal;
}

.acumulado{
  background-color: #808080; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 10px;
  margin: 10px;
}

.acumulado-label{
  font-weight: bold;
  margin-right: 5px;
}

.acumulado-value{
  font-weight: normal;
}

.board {
  margin: 20px;
  position: relative;
}

.squares {
  position: relative;
  z-index: 100;
  display: grid;  
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 5px;
  font-size: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.herramientas > div{
  display: inline-block;
  margin-left: 20px;
}

.booster {
  background-color: #4CAF50; /* Green */
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.rise {
  margin: 2px;
}

.riseOnHover:hover {
  margin: 2px;
}

.horizontalConnectors {
  position: absolute;
  top: 0;
  margin: 0 40px;
  display: grid;  
}

.verticalConnectors {
  position: absolute;
  top: 0;
  margin: 40px 0;
  display: grid;  
}

.slashConnectors, .backslashConnectors {
  position: absolute;
  top: 0;
  margin: 40px 40px;
  display: grid;  
}

.connector {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.connectorLine {
  flex-grow: 1;
  height: 8px;
}

.connectorLine.vertical {
  transform: rotate(90deg);
}

.connectorLine.slash {
  transform: rotate(-45deg);
}

.connectorLine.backslash {
  transform: rotate(45deg);
}